.container-big-card {
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.container-big-card article {
  margin: 15px 10px;
  font-size: 20px;
}

.container-big-card figure img {
  width: 100%;
  min-width: 400px;
  max-height: 500px;
}

.big-card-title a {
    color: white;
    text-transform: capitalize;
}

.container-big-card article p {
    color: grey;
    text-align: justify;
}